<h3>LISTADO SUPERHEROES</h3>
<hr>
<ul>
    <div class="container">
        <div class="card" style="width: 18rem" *ngFor="let superheroe of superheroes">
            <img src="{{superheroe.img}}" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">{{superheroe.nombre}}</h3><br>
                <p class>Biografia: {{superheroe.bio}}</p><br>
                <p class>Aparicion: {{superheroe.aparicion}}</p><br>
                <p class>Casa: {{superheroe.casa}}</p>
            </div>
        </div>
    </div><br>
</ul>