<h3>LISTADO SUPERHEROES</h3>
<hr>
<ul *ngFor="let superheroe of superheroes" style="display: flex; list-style:none" >
    <img src="{{superheroe.img}}" class="card-img-top" style="width: 150px; height:210px;">
    <li>{{superheroe.nombre}}</li>
    <li>
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" 
        data-bs-target="#modalprueba" (click)="datos(superheroe)" style="margin:5px">Mostrar</button>  
    </li>
</ul>
<app-casas [heroes]="superheroes"></app-casas>
<app-modal></app-modal>
